# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for item in ansible_play_batch %}
{{ lookup('file', '{{ playbook_dir}}/Vagrantfile') | regex_search(item + '.+') | regex_search('\\b(?:[0-9]{1,3}\\.){3}[0-9]{1,3}\\b') }} {{ item }}
{% endfor %}
